@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "Confirmation";
var Date = DateTime.Now.ToString("d");
}
<p>Thank yu for ordering tickets for the race. Your booking is registered on @Date. We will send the tickets as soon as possible.</p>
<a asp-controller="Home" asp-action="Menu" > Back </a>
