@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Please fill out the following fields</p>
<a asp-controller="Home" asp-action="Menu" > Back </a>