@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Riders";
    ViewData["bannerNaam"] = "bannerRiders.jpg";
    ViewData["pageTitle"] = "Riders";
}
<div class="rider-container">
    @foreach (Rider rider in Model)
    {
        @await Html.PartialAsync("Rider", rider)
    }
</div>

<a asp-controller="Home" asp-action="Menu" > Back </a>